body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  Josh Comeau's CSS resets with tweaks
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/* 
  Base rem units to 10px
*/

html {
  font-size: 62.5%;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.App {
  position: relative;
  height: 100vh;
}

.add-book {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: lightgrey;
  padding: 1.5rem 10rem;
}

.add-book__heading {
  display: inline-block;
  font-size: 2.6rem;
}

.add-book__input {
  display: inline-block;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed black;
  margin-bottom: 2rem;
}

/* 
  Below is an accessibility no-go.
*/
.add-book__input:focus {
  outline: none;
  border-bottom: 1px dashed black;
}

.add-book__arrow {
  font-size: 3.5rem;
  display: inline-block;
  transition: all 0.3s;
}

/* When input has focus, arrow will turn green */
.add-book__input:focus ~ .add-book__arrow {
  color: green;
}

.button {
  font-size: 2rem;
  font-weight: 700;
  border: none;
  background-image: linear-gradient(to right bottom, slategrey, grey);
  padding: 0 2rem;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 0.2rem 1rem black;
}

.add-book__submit {
}
